@import "reset";
@import "variables";

body {
  background-color: $page-bg-color;
}

.card-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bg {
  &-brown {
    background-color: $ground;     
  }

  &-yellow {
    background-color: $yellow;
  }

  &-fire {
    background-color: $fire;
  }

  &-ghost {
    background-color: $ghost;
  }

  &-poison {
    background-color: $poison;
  }
}

.card {
  margin: 50px 50px;
  width: 20rem;
  transition: box-shadow 0.6s, transform 0.5s ease-in;
  transform: translateX(0);

  &-img-top {
    height: 230px;
    padding: 8px;
    border-radius: 1rem;
  }

  &:hover {
    background-color: whitesmoke;
    box-shadow: 12px 12px 1px 1px $card-shadow;
    transition: transform 0.1s ease-in;
    transform: translateY(-5px);
    cursor: pointer;
    transform: perspective(100em) rotateX(-20deg);
  }
}

.ty-r:hover {
  transition: transform 0.1s ease-out;
  transform: perspective(100em) rotateX(-18deg) rotateY(15deg);
}

.ty-r2:hover {
  transition: transform 0.1s ease-in-out;
  transform: perspective(100em) rotateX(10deg) rotateY(-15deg);
}

.ty-l:hover {
  transition: transform 0.1s ease-in-out;
  transform: perspective(100em) rotateX(-10deg) rotateY(-15deg);
}

.ty-l2:hover {
  transition: transform 0.1s ease-in-out;
  transform: perspective(100em) rotateX(-10deg) rotateY(10deg);
}
